*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

.whatsapp-container {
    position: fixed;
    z-index: 1;
}

.whatsapp-container a {
    text-decoration: none;
    position: fixed;
    bottom: 60px;
    right: 30px;
    display: block;
    background-color: #25d366;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .whatsapp-container i {
    font-size: 1.8em;
    color: white;
    /* padding: 15px; */
  }

